<div id="main">
    <h1 class="pageHeader">Close issue:  ...</h1>
    <form id="closeIssue" method="post" action="#">
        <div class="form-group">
            <label for="confirmBox">Confirm:</label>
            <input type="checkbox" name="confirmBox" required="required">
        </div>
        <br>
        <button type="submit">Close Issue</button>
    </form>
</div>
