<header>
<div class="navBlocks" id="navName">
    <h1>Realtime Web Application</h1>
</div>
    <div class="navBlocks" id="links">
        <ul id="navList">
        <a href="/"><li class="navListItem">Start</li></a>
        <a href="/issues"><li class="navListItem">Issues</li></a>
        </ul>
    </div>
</header>