    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>403 Forbidden</title>
        <style>
            body {
                text-align: center;
                margin-top: 20vh;
            }
            #main {
                display: inline-block;
                background-color: #f84f5d;
                padding: 20px;
                border-radius: 20px;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <h1>Forbidden (403)</h1>
            <p>You do not have access to this resource.</p>
        </div>
    </body>
    </html>