<div id="main">
    <h1 class="pageHeader">Realtime Web Application</h1>
        <div id="indexButtonContainer">
            <a class="indexButtons" href="./issues">Show Issues</a>
        </div>
</div>
